/* configurações gerais */

* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.container-centralizado {
    text-align: center;
}

.azul {
    color: var(--azul);
}

.h2 {
    font-weight: 500;
    font-size: 26px;
    line-height: 46px;
    margin-bottom: 10px;
    color: var(--cinza);
}

.p {
    line-height: 36px;
    color: var(--cinza2);
}


:root {
    --cinza: #3d3d3d;
    --cinza2: #646363;
    --cinza3: #e7e6e6;
    --azul: #6592c9;
    --branco: #fff;
    --verde: #49997D;
}

/* fim das configurações gerais */

/* header */

header {
    position: fixed;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid var(--cinza3);
}

.header-conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}

.header-titulo {
    color: var(--cinza);
    font-size: 22px;
}

.header-menu-links a {
    color: var(--cinza);
    font-size: 14px;
    line-height: 18px;
    margin-right: 20px;
    font-weight: 500;
    padding: 5px 0;
}

.header-menu-links a:hover {
    border-bottom: 2px solid var(--azul);
}

/* fim do header */

/* início do main */

/* banner */
.banner {
    background-image: url('img/img-fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.banner-caixa-titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 500px;
    height: 180px;
    color: var(--branco);
    background-color: rgba(10,144,119,0.7);
    border: 1px solid var(--branco);
    box-sizing: content-box;
    padding: 15px 10px;
}
.banner-caixa-titulo h1 {
    font-size: 56px;
    font-weight: 700;
}
/* fim do banner */

/* quartos */

.quartos {
    margin-bottom: 50px;
}

.quartos-galeria {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}

.quarto-box {
    width: calc(100% / 3);
    border-bottom: 2px solid rgba(10,144,119,0.7);
}

.quarto-box figure img {
    height: 200px;
}

.quarto-box figcaption {
    padding: 20px 10px;
    color: var(--cinza2);
}

/* fim Quartos */

/* frame */
.rota-frame {
    margin-top: 20px;
    margin-bottom: 50px;
}

/* fim frame */

/* sobre */

.sobre-diferenciais {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 40px;
    margin-bottom: 50px;
    color: var(--cinza2);
}

.box-diferencial {
    display: flex;
    height: 120px;
    width: calc((100% / 2) - 30px);
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.box-diferencial img {
    width: 25%;
    height: 100%;
    object-fit: cover;
}

.diferencial-texto {
    width: 75%;
    height: 100%;
    text-align: left;
}

.diferencial-texto h3 {
    color: var(--cinza);
    margin-bottom: 10px;
    font-size: 18px;
}

.diferencial-texto p {
    font-size: 15px;
}

/* fim sobre */

/* footer */

.footer {
    background-color: var(--verde);
    width: 100%;
    color: #fff;
    font-size: 14px;
}

.footer-contato {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
    border-bottom: 1px solid var(--cinza2);
}

.contato-item {
    width: calc(100% / 4);
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.copyright {
    text-align: center;
    padding: 30px 0;
    font-size: 16px;
    font-weight: 600;
}

/* fim do footer */